# --- BIG FILES / SIMULATORS ---
AirSim/
AirSimNH/

# --- ROS 2 BUILD ARTIFACTS ---
build/
install/
log/
*/build/
*/install/
*/log/

# Ros bags
*.bag
*.mcap
*.db3

# --- PYTHON CACHE ---
__pycache__/
*.py[cod]
*.class

# --- VS CODE SETTINGS ---
.vscode/

# --- OS JUNK ---
.DS_Store
Thumbs.db


# --- downloaded tiles ---
navnet_ws/tiles_output/
